@import "normalize";
@import "syntax";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.content {
  margin: 0 auto;
  max-width: 700px;
}

/* Everything but the jumbotron gets side spacing for mobile-first views */
header,
.marketing,
footer {
  padding-left: 15px;
  padding-right: 15px;
}

nav {
  @extend .navbar;
  @extend .navbar-default;

  .vcard {
    @extend .navbar-header;

    a.url {
      @extend .navbar-brand;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 5px;

      img {
        display: inline-block;
      }
    }

    img.photo {
      @extend .img-rounded;
    }
  }

  img {
    height: ($navbar-height - 10);
  }

  ul {
    @extend .nav;
    @extend .navbar-nav;
    @extend .navbar-right;
    padding-right: 15px;
  }
}

/* Make the masthead heading the same height as the navigation */

article {
  header {
    @extend .h1;
    h1 {
      margin: 0px;
    }

    time {
      @extend .small;
      font-size: 45%;
      padding-left: 10px;
    }
  }

  section.e-content {
    h1 { @extend .h2; }
    h2 { @extend .h3; }
    h3 { @extend .h4; }
  }

  table {
    @extend .table;
    @extend .table-striped;
    @extend .table-bordered;
    @extend .table-hover;
    @extend .table-condensed;
    @extend .table-responsive;
  }
}

/* Custom page footer */
footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;

  .disclaimer {
    width: 25%;
    @extend .pull-left;
  }

  .copyright {
    width: 25%;
    @extend .pull-right;
  }
}

.masthead {
  @extend .jumbotron;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  h1 {
    font-size: 38px;
  }
}


/* Main marketing message and sign up button */

/* Supporting marketing content */
section.marketing {
  @extend .row;
  margin: 40px 0;

  .column {
    @extend .col-lg-6;
  }

  ul + h4 {
    margin-top: 28px;
  }

  ul {
    padding-left: 0px;
    list-style-type: none;

    a {
      @extend .btn;
      @extend .btn-xs;

      i {
        margin-right: 0.5em;
      }
    }
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  header,
  section.marketing,
  footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .masthead {
    border-bottom: 0;
  }
}
