!!!
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    %meta{ content: 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }

    <!-- Use title if it's in the page YAML frontmatter -->
    %title= current_resource.data.title || "Andrew Sullivan Cant"

    %link{ rel: "icon", type: "image/ico", href: "/favicon.ico" }

    = stylesheet_link_tag "all"
    -# = javascript_include_tag  "all"

  %body{ class: page_classes }
    .content
      = yield
