= wrap_layout :bare do
  %nav
    .vcard
      %a.url(href='/')
        %img.photo(src='/avatar/current.jpg')
        %span.fn Andrew Sullivan Cant
    %ul
      %li= link_to 'Blog', '/blog'
      %li= link_to 'Wiki', '/wiki'
      %li= link_to 'Resume', '/resume'

  = yield

  %footer
    .disclaimer The posts here are solely the opinion of the author and do not represent the author’s employer or any other organization with which the author may be affiliated
    .copyright
      %a(rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US")
        %img(alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png")
      %br
      This work is licensed under a
      %a(rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US") Creative Commons Attribution-ShareAlike 3.0 Unported License
