---
title: Andrew Sullivan Cant
layout: bare
---

%section.masthead
  %h1 Andrew Sullivan Cant
  %p.lead
    is a software developer living in
    =link_to 'Kitchener-Waterloo'
  %p
    Currently deep into Ruby and active in the local FLOSS community.

%section.marketing
  .column
    %ul.content
      %li
        =fa_icon_link_to 'Resume', '/resume', :briefcase
      %li
        =fa_icon_link_to 'Blog', '/blog', :bullhorn
      %li
        =fa_icon_link_to 'Wiki', '/wiki', 'pencil-alt'

    %h4 Around the Web
    %ul.content
      %li
        =fa_icon_link_to 'Gitlab', 'https://gitlab.com/acant', :gitlab, :rel_me
      %li
        =fa_icon_link_to 'Github', 'https://github.com/acant', :github, :rel_me
      %li
        =fa_icon_link_to 'Linkedin', 'https://linkedin.com/in/andrewsullivancant', :linkedin, :rel_me
      %li
        =fa_icon_link_to 'Twitter', 'https://twitter.com/andrew_s_cant', :twitter, :rel_me
      %li
        =fa_icon_link_to 'Mastadon', 'https://mstdn.ca/@andrewsullivancant', :mastadon, :rel_me
      %li
        =fa_icon_link_to 'OpenStreetMap', 'http://www.openstreetmap.org/user/asc', 'map-marker', :rel_me
      %li
        =fa_icon_link_to 'Wikipedia', 'https://en.wikipedia.org/wiki/User:Andrew_Sullivan_Cant', 'wikipedia-w', :rel_me
      %li
        =fa_icon_link_to 'Meetup', 'https://www.meetup.com/members/10191138/', 'meetup', :rel_me
      %li
        =fa_icon_link_to 'Reddit', 'https://www.reddit.com/user/andrewsullivancant', 'reddit', :rel_me
      %li
        =fa_icon_link_to 'RubyGems', 'https://rubygems.org/profiles/acant', 'gem'

  .column
    %h4 Contacts
    %ul.contacts
      %li
        =fa_icon_link_to 'mail@andrewsullivancant.ca', 'mailto:mail@andrewsullivancant.ca', :envelope, :rel_me

    %h4 Groups
    %ul.memberships
      %li
        =fa_icon_link_to 'KW Linux Users Group', 'http://www.kwlug.org', :users, :rel_me
      %li
        =fa_icon_link_to 'KW Ruby', 'http://www.kwruby.ca', :users, :rel_me
